* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

a {
    color: black;
    display: block;
}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 15px;
    margin: 0 auto;
}

.container h1 {
    text-align: left;
}

main {
    flex: 1; /*För att footern ska hållas längst ner och inte baseras på hur högt main-innehållet är*/

}

.site-header {
    border-bottom: 1px solid black;
    background-color: #3abe81;
    height: 100px;
    align-items: center;
    padding: 20px;
}

.meny {
    height: 100%;
}

.header-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    max-height: none;
}

.logo img {
    height: 60px;
    width: auto;
    display: block;
}

.main-nav {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-left: auto;
    font-size: 1.5rem;
 
}

.main nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 12px;
    border-radius: 10px;
    white-space: nowrap;
       text-decoration: none;
}

.flexBilder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flexBilder div {
    width: 100%;
  background-color: #f1f1f1;
  margin-right: 30px;
  padding: 20px;
  font-size: 24px;
}

footer {
background-color: #3abe81;
padding: 20px;
line-height: 1;
border-top: 1px solid black;
}

@media (max-width: 600px) {
.flexBilder {
  display: block;
}

.flexBilder div {
    width: 100%;
  background-color: #f1f1f1;
  margin-right: 30px;
  padding: 20px;
  font-size: 24px;
}

}