* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.menu-toggle {
    display: none;
    border: 0;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

a {
    color: black;

}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 15px;
    margin: 0 auto;
}

.container h1 {
    text-align: left;
}

main {
    flex: 1; /*För att footern ska hållas längst ner och inte baseras på hur högt main-innehållet är*/

}

.site-header {
    border-bottom: 1px solid black;
    background-color: #3abe81;
    height: 100px;
    align-items: center;
    padding: 20px;
}

.meny {
    height: 100%;
}

.header-row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    max-height: none;
}

.logo img {
    height: 60px;
    width: auto;
    display: block;
}

.main-nav {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-left: auto;
    font-size: 1.5rem;
 
}

.main-nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 12px;
    border-radius: 10px;
    white-space: nowrap;
       text-decoration: none;
}

.flexBilder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flexBilder div {
    width: 100%;
  background-color: #f1f1f1;
  margin-right: 30px;
  padding: 20px;
  font-size: 24px;
}


table {
    text-align: left;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input {
    background-color: white;
}

footer {
background-color: #3abe81;
padding: 20px;
margin-top: 40px;
line-height: 1;
border-top: 1px solid black;
}

.active {
    color: white;
}

@media (max-width: 600px) {

    .site-header {
        position: relative;
    }

.menu-toggle {
display: block;
}   

.main-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; /*Så det hamnar direkt under header*/
    right: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    z-index: 1000;
    background-color: white;
}

.main-nav.is-open {
    display: flex;
}

.main-nav a {
    display: block;
    height: auto;
    border-radius: none;
    padding: 10px;
    text-decoration: none;
}

.main-nav a:hover {
background-color: rgb(153, 153, 153);
}

.flexBilder {
  display: block;
}

.flexBilder div {
    width: 100%;
  background-color: #f1f1f1;
  margin-right: 30px;
  padding: 20px;
  font-size: 24px;
}

.tabell {
    width: 100%;
  overflow-x: hidden;
  word-break: break-word;
}

th {
    font-size: 0.8rem;
}

td {
    font-size: 0.7rem;
}

.main-nav a.active {
    text-decoration: underline;
    color: black;
}
}